@{
	ViewData["Title"] = "Shop";
}


<div>
	<h1>@ViewData["Title"]</h1>
	<a class="btn btn-primary" asp-controller="Shop" asp-action="AddEditProductListing">Add New Listing</a>

	<table class="table">
		<thead>
			<tr>
				<td>Name</td>
				<td>Quantity</td>
				<td>Price</td>
			</tr>
		</thead>
		<tbody>
		
		</tbody>
	</table>

</div>